/* CSS Document */
*{
    margin: 0;
	padding: 0;
}
.bianbg {
    background: #616378 url(../images/bianbg.jpg) repeat-y left;
}
body {
	font-size: 12px;
	color: #ffffff;
	font-family: "宋体";
}
.sidebar a:link,.sidebar a:visited,.sidebar a:active  {
    color: #FFE;
}
a:link,a:visited,a:active  {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
    font-size: 12px;
	color: #282828;
}
/*bottom*/
.bottom_body {
    background: #68E8D1 url(../images/bottom_bg.jpg) repeat-x top;
}
#bottom_1 {
    width: 1001px;
	padding: 17px 0 0 0;
	background: url(../images/bottom_11.jpg) no-repeat top right;
}
#bottom_1 .bottom_2 {
	width: 1001px;
	text-align: center;
	line-height: 16px;
	word-spacing: 14px;
}
#bottom_1 .bottom_3 {
	width: 1001px;
	text-align: center;
	line-height: 16px;
	word-spacing: 3px;
}
/*bottom end of*/
/*top*/
#top_1 {
    width: 1001px;
	height: 78px;
	background: #E5E5E5;
	border-bottom: 4px solid #7D0000;
}
#top_1 #logo {
    background: url(../images/logo.jpg) no-repeat;
	width: 206px;
	height: 78px;
	float: left;
}
#top_1 #right0 {
    width: 795px;
	height: 78px;
	float:left;
}
#top_1 #daohang1 {
    height: 26px;
	background: url(../images/t_2.gif) repeat-x;
}
#top_1 #daohang1 a {
	height: 14px;
	color:#FFFFFF;
	font-size: 14px;
	font-family: "黑体";
	font-weight: bold;
}
#top_1 #daohang1 ul {
    background: url(../images/t_1.gif) no-repeat left;
	height: 26px;
	list-style: none;
}
#top_1 #daohang1 ul li {
    margin: 7px 0 0 0;
	text-align: center;
	float: left;

}
.li_1 {
    width: 96px;
	border-right: 1px solid #fff;
}
.li_2 {
    width: 98px;
	border-right: 1px solid #fff;
}
.li_3 {
    width: 98px;
}
#top_1 #right0 #t_0 {
    width: 795px;
	height: 54px;
}
#top_1 #right0 #t_1 {
    width: 310px;
	height: 24px;
	float: right;
	background: url(../images/t_4.gif) repeat-x;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}
#top_1 #right0 #t_1 a {
	color: #FFFFFF;
}
#top_1 #right0 #t_2 {
	width: 470px;
	height: 54px;
	float: right;
	background: url(../images/t_3.gif) no-repeat left top;
	line-height: 34px;
	text-indent: 45px;
}
#top_1 #right0 #kefu img {
    border: 0;
}
#top_1 #rogjt0 #daohang {
    width: 764px;
	height: 46px;
}
/*top end of*/
/*left*/
.left_body {
    background: url(../images/left_bg.jpg) repeat-y;
}
#left_1 {
    width: 160px;
	background: url(../images/left_bg2.jpg) no-repeat;
	height: 142px;
}
#left_1 #dl_01 {
	background:url(../images/left_dl_01.jpg) no-repeat;
	width: 160px;
	height: 38px;
	color: #017C04;
	font-weight: bold;
	text-indent: 40px;	
}
#left_1 #dl_01 .dl_zc {
    padding: 21px 0 0 0;
}
#left_1 #dl_02 {
    background: url(../images/left_dl_02.jpg) no-repeat;
	width: 141px;
	height: 82px;
	padding: 5px 0 0 19px;
	color: #036142;
}
#left_1 #dl_02 .y_hu01 {
    height: 14px;
	width: 141px;
}
#left_1 #dl_02 .y_hu02 {
    height: 14px;
	padding: 4px 0;
	width: 141px;
}
.y_hu_wb01 {
	border: 1px solid #0B888E;
	background: #CFF8F4;
	width: 74px;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	text-indent: 1px;
}
.y_hu_wb02 {
    border: 1px solid #0B888E;
	background: #CFF8F4;
	width: 30px;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	text-indent: 1px;
}
#left_1 #dl_02 .anniu_01 {
	width: 130px;
	height: 19px;
	padding: 12px 0 0 10px;
}
.anniu_02 {
	width: 73px;
	height: 23px;
	border:0px;
	background:url(/images/button001.gif) no-repeat;
	background-position:center;
	cursor:pointer;
	color:#FFFFFF;
}
#left_1 #dl_02 .anniu_01 .red {
    color: #D20000;
	line-height: 16px;
	margin: 0 0 0 5px;
}
.y_hu_wb03 {
	background:url(../images/left_dl_03.jpg) no-repeat;
	width: 43px;
	height: 19px;
	border: 0;
}
#left_1 #dl_00 {
    background: url(../images/left_dl_00.jpg) no-repeat;
	width: 160px;
	height: 17px;
}
#left_2 {
    background: url(../images/left_bg_top.jpg) top no-repeat;
	width: 139px;
	height: 81px;
	padding: 18px 0 0 21px;
}
#left_2 .js1 {
    width: 139px;
	height: 25px;
	line-height: 25px;
	text-indent: 45px;
	font-weight: bold;
	color: #000;
}
#left_2 .js2 {
	width: 139px;
	height: 25px;
	line-height: 25px;
	text-indent: 45px;
	font-weight: bold;
	color: #fff;
}
#left_2 .js_zu1 {
	background: url(../images/left_zu_bg1.jpg) no-repeat;
}
#left_2 .js_zu2 {
    background: url(../images/left_zu_bg2.jpg) no-repeat;
}
#left_2 .js_00 {
    background: url(../images/left_js_bg.jpg) no-repeat;
	width: 139px;
	height: 20px;
	line-height: 20px;
	text-indent: 26px;
	color: #016B04;
}
#left_2 .js_00 .red {
    color: #B00000;
	margin: 0 0 0 3px;
}
#left_2 .js1 .red {
    color: #B00000;
	margin: 0 0 0 3px;
}
#left_2 .js2 .red {
    color: #FF0000;
	margin: 0 0 0 3px;
}
/*left end of*/
/*right*/
.right_body {
    background: url(../images/right_bg.jpg) repeat-y;
}
#right_1 {
    width: 825px;
	background: url(../images/right_bg2.jpg) repeat-x;
}
/*gonggao*/
#right_1 #gonggao {
    background: url(../images/right_ggao.jpg) no-repeat;
	width: 682px;
	height: 37px;
	padding: 10px 0 0 134px;
}
#right_1 #gonggao #gund {
    width: 655px;
	color: #016B04;
}
/*gonggao end of*/
/*shuaxin*/
#right_1 #shuaxin {
    background: url(../images/right_sx.jpg) no-repeat;
	width: 754px;
	height: 39px;
	padding: 0 30px 0 32px;
}
#right_1 #shuaxin #a_shuaxin {
    width:30px;
	height: 26px;
	margin: 8px 0 0 0;
	float: left;
}
#right_1 #shuaxin #dumiao {
    margin: 14px 0 0 0;
	width: 95px;
	float: left;
	color: #006600;
}
#right_1 #shuaxin #ladong_1 {
    width: 400px;
	float: right;
}
/*shuaxin end of*/
/*shuzi*/
#right_1 #shuzi {
    background: url(../images/right_szi.jpg) no-repeat;
	width: 791px;
	height: 20px;
	padding: 0 0 0 25px;
}
#right_1 #shuzi .sz_0 {
    line-height: 18px;
	height: 18px;
	border-right: 1px solid #DFDFDF;
	width: 33px;
	text-align: center;
	float: left;
	color: #BD0000;
}
/*shuzi end of*/
/*bocai*/
#right_2 {
    width: 777px;
	margin: 0 0 0 25px;
}
#right_2 #lantiao {
    width: 777px;
    background: #0F93FF;
	height: 27px;
	line-height: 27px;
	color:#FFFFFF;
	border-bottom: 2px solid #B7B7B7;
}
#right_2 #lantiao .bai_x {
    text-align: center;
	float: left;
	border-right: 1px #FFF solid;
}
#right_2 #lantiao .bai_z {
    float: left;
	text-align: center;
}
/*bisai*/
#right_2 .zhudui {
    height: 18px;
	line-height: 18px;
}
#right_2 .kedui {
    height: 18px;
	line-height: 18px;
}
#rogjt_2 .heju {
    height: 18px;
	line-height: 18px;
}
/*bisai end of*/
/*huixian*/
#right_2 .hui_xx {
	float: left;
	border-right: 1px #CACACA solid;
	height: 53px;
	text-align: center;
}
#right_2 .hui_x {
	float: left;
	border-right: 1px #CACACA solid;
	height:18px;
	line-height: 18px;
	text-indent: 3px;
}
#right_2 .hui_z {
	float: left;
	text-indent: 3px;
}
#right_2 .hui_d {
    float: left;
    border-top: 1px #CACACA solid;
	height: 17px;
	line-height: 17px;
	text-indent: 3px;
}
/*huixian end of*/
  /*kuan*/
  /*zuqiu*/
  .zu_1 {
      width: 60px;
  }
  .zu_2 {
      width: 200px;
  }
  .zu_3 {
      width: 49px;
  }
  .zu_4 {
      width: 92px;
  }
  .zu_5 {
      width: 515px;
  }
  /*zuqiu*/
  /*kuan*/
/*liansai*/
#right_2 .liansai {
    height: 26px;
	width: 777px;
	line-height: 26px;
	border-bottom: 2px solid #B7B7B7;
	text-align: center;
}
#right_2 .bisai {
    width: 777px;
	height: 54px;
	border-bottom: 2px solid #B7B7B7;
}
/*liansai end of*/
/*bocai*/
/*right end of*/
/*zhuce*/
#zhuce_body {
    color:#ffffff;
}
#bg_000 {
	margin:0px;
}
#zhuce_top {
    margin: 0 auto;
	width: 772px;
	padding: 20px 0 0 0;
}

#zhuce_top110 {
    background: url(../images/dlsq_bg.jpg) no-repeat top left;
	width: 772px;
	padding: 44px 0 0 0;
}

#zhuce_top110 h2 {
	font-size: 14px;
	font-weight: bold;
	color: #013801;
	margin: 0 0 5px 12px;
	padding: 12px 0 3px 45px;
	background: url(../images/zhuce_h2.jpg) no-repeat left;
}

#zhuce_top110 .daili_00 {
    padding: 12px 0 0 35px;
	width:750px;
	clear:both;
}

#zhuce_top3 {
	width: 772px;
	padding: 20px 0 0 0;
}
#huikuan_top {
    background: url(../images/zhuce_top.jpg) no-repeat top left;
	width: 757px;
	height: 93px;
	padding: 50px 0 0 50px;
	float:left;
}
#huikuan_top h1 {
	font-size: 14px;
	font-weight: bold;
	color: #013801;
	margin: 0 0 5px 12px;
	padding: 12px 0 3px 45px;
	background: url(../images/tikuan_1.gif) no-repeat left;
}
#zhuce_top h2 {
	font-size: 14px;
	font-weight: bold;
	color: #013801;
	margin: 0 0 5px 12px;
	padding: 12px 0 3px 45px;
	background: url(../images/zhuce_h2.jpg) no-repeat left;
}
.zhuce_title {
    padding: 10px 0 0 36px;
	width:750px;
	height:15px;
	font-weight:bold;
	color:#ffffff;
	font-size:14px;
	clear:both;
}
.zhuce_00 {
    padding: 16px 0 0 35px;
	width:750px;
	clear:both;
}
.zhuce_01 {
    text-align: right;
	width: 100px;
	float: left;
	line-height: 18px;
	height: 25px;
}
.zhuce_02 {
	float: left;
	width: 210px;
	padding: 0 0 0 8px;
	height: 16px;
}
.zhuce_02 input {
    height: 16px;
	border:1px solid #abadb3; color:#865f5f;
	background: #FFFFFF;
}
.zhuce_02 .xingbie {
    border: 0;
	background: none;
}
.zhuce_02 .yanzh {
    width: 60px;
}

.width_00{
	 border:1px solid #abadb3; color:#865f5f;
	width:150px;
}

.zhuce_04 {
	float: left;
	background: url(../images/zhuce_lan.gif) no-repeat left;
	line-height: 18px;
	width: 330px;
	padding: 0 0 0 26px;
	height: 18px;
	color:#333;
}
.zhuce_05 {
	float: left;
	line-height: 18px;
	width: 330px;
	padding: 0 0 0 26px;
	height: 18px;
	color:#999999;
}


.zhuce_06 {
    float: left;
	background: url(../images/zhuce_h.gif) no-repeat left;
	line-height: 18px;
	width: 330px;
	padding: 0 0 0 26px;
	height: 18px;
}
.red {
    color: #FF0000;
}
.tiao_00 {
    clear: both;
	padding: 16px 0 8px 20px;
	margin: 0 0 0 80px;
	width: 600px;
	border-bottom: 1px solid #000;
}
.tiao_01 {
    clear: both;
	padding: 16px 0 20px 190px;
}
.tiao_01 input {
    background: url(../images/button1.gif) no-repeat;
	width: 51px;
	height: 23px;
	color: #fff;
	border: 0;
	cursor:pointer;
}
.tiao_01 .ju {
	margin: 0 170px 0 0;
}
.tiao_02 {
    clear: both;
	display:inherit;
	padding: 20px 0 0 144px;
}
.tiao_02 input {
    background: url(../images/re_7.jpg) no-repeat no-repeat;
	width: 63px;
	border: 0;
	height: 26px;
	color:#FFF
}
#zhuce_top .daili_00 {
    padding: 12px 0 0 35px;
	width:750px;
	clear:both;
}
.daili_01 {
    text-align: right;
	width: 100px;
	float: left;
	line-height: 18px;
	height: 18px;
}
.daili_02 {
	float: left;
	width: 510px;
	padding: 0 0 0 8px;
	height: 16px;
}
.daili_03 {
}


#gonggao_body {
    background: url(../images/r_0_0.gif) repeat-x;
}
#gonggao {
    background: url(../images/r_0_1.gif) no-repeat left;
	padding: 0 0 0 40px;
	height: 26px;
	line-height: 26px;
}
.body_msg {
    background: #FFF;
}
#zt00 {
    width: 777px;
	height:auto;
	border: 1px solid #000000;
	margin: 10px 0 0 8px;
}
#zt01 {
    width: 777px;
	height: 30px;
	background: url(../images/msg_1.gif) no-repeat;
}
.zt02 {
	background-color:#e5e5e5;
    width: 777px;
	color: #001E6A;
}
.zt02_1 {
	background-color:#FFFFFF;
    width: 777px;
	color: #001E6A;
}

.zt02 a:link,.zt02 a:visited,.zt02 a:active{
	color: #260607;
}
.zt02 a:hover {
    color: #D50000;
}
.zt03 {
    width: 770px;
	height: 25px;
}
.zt03_1 {
    float: left;
	background: url(../images/msg_3.gif) no-repeat left;
	width: 650px;
	height: 25px;
	line-height: 25px;
	padding: 0 0 0 36px;
}
.zt03_2 {
    float: left;
	background: url(../images/msg_4.gif) no-repeat left;
	width: 650px;
	height: 25px;
	line-height: 25px;
	padding: 0 0 0 36px;
}
.zt03_3 {
    float: left;
	width: 80px;
	height: 25px;
	line-height: 25px;
}
.zt04 {
    background: #9b8e25;
	height: 26px;
	color:#FFF
	
}
.zt04_1 {
    float: right;
    height: 26px;
	line-height: 26px;
	color:#FFFFFF;
	width: 80px;
	text-align: center;

}
.zt04_1 a{
	color:#fff	
}
.zt04_2 {
    float: right;
	height: 24px;
	padding: 2px 0 0 8px;
}
.zt04_3 {
    float: left;
	line-height: 26px;
	height: 26px;
	padding-left:10px;
}
.zt04_3 a {
    color: #FFF;
}
.zt04_3 a:hover {
    color: #FFF;
}

#xxi01 {
    width: 767px;
	height: 24px;
	line-height: 24px;
	background: #9b8e25;
	padding: 0 0 0 10px;
	border-bottom: 6px solid #000000;
}
.xxi02 {
	padding: 10px;
	height: auto;
	background: #000;
}
.xxi03_1 {
	padding: 10px 0 0 0;
	height: 40px;
	width: 100px;
	line-height: 18px;
	text-align: center;
	float: right;
	background: #000;
}
.xxi03 {
	padding: 10px;
	height: 40px;
	background: #fff;
	clear:both;
}
.xxi04_2 {
    float: left;
    height: 26px;
	line-height: 26px;
	color:#BB0000;
	width: 80px;
	text-align: center;
}
.xxi04_1 {
    float: right;
    height: 26px;
	line-height: 26px;
	color:#BB0000;
	width: 80px;
	text-align: center;

}
.xxi04_1 a {
	color:#BB0000;
}
.xxi04_1 a:hover{
    color:#FF0000;
}
.len { cursor:pointer;}

.bq{width:786px; height:127px; position:absolute; bottom:0px;}