/* reset */
*{ margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
textarea { resize:none; overflow:auto; }
em{ font-style:normal; }
/* !£nd reset*/

body{ font-size:0.14rem;  font-family: "Arial","Microsoft YaHei","ºÚÌå","ËÎÌå",sans-serif;}
.mainBox{ width:100%; height:100%; position:absolute; left:0; top:0; overflow:hidden;  background:#1A1309; }
#headerBox{ width:100%; height:0.35rem; line-height:0.35rem; background:#986600; box-sizing:border-box; overflow:hidden; position:relative; }
#headerBox a{ padding:0.1rem; border-radius:0.1rem; background:rgba(0,0,0,0.3) url(../img/index_ico.png) center center no-repeat; background-size:70%; position:absolute; left:0.1rem; top:calc(0.18rem - 0.1rem); }
#headerBox .logo{ display:block; position:absolute; left:calc(1.5rem - 0.54rem); top:calc(0.18rem - 0.16rem); height:0.3rem; }

#main{ width:3rem; overflow:hidden; margin-top:0.15rem; }
#main h1{ width:3rem; height:0.3rem; line-height:0.3rem; text-indent:0.1rem; font-size:0.14rem; background:rgba(152, 102, 0, 0.24); color:#fff; font-weight:normal; }
#main p{ width:2.85rem; margin:0.1rem auto; color:#fff; font-size:0.12rem; }