/* CSS Document */
* {
    margin: 0;
	padding: 0;
}
a img {
    border: 0;
}
a:link,a:visited,a:active  {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
    font-size: 12px;
	color: #00268A;
}
body {
	font-size: 12px;
	font-family:"宋体";
	width:100%;
}
#flash_sy {
    margin: 10px 0 10px 10px;
}
#top_1 {
    background: url(../images/tikuan_01.gif) no-repeat;
	margin: 12px 0 0 30px;
	padding: 8px 0 0 45px;
	font-weight: bold;
	color: #005500;
	height: 20px;
}
#waikuan {
	background:#fff;
	margin-left:8px;
	width: 775px;
	border: 2px solid #ccc;
}
#waikuan #top_2 {
	background:#fff;
    padding: 14px 20px;
	border-bottom: 2px solid #ccc;
	height: 20px;
	height: auto;
}
.fudong_1 {
    float: left;
	line-height: 24px;
	height:24px;
	padding: 0px 0 0 0;
}
.fudong_9 {
    float: left;
	line-height: 24px;
	height:24px;
	padding: 5px 0 0 0;
}
.fudong_2 {
    float: left;
	width: 300px;
	padding:0 0 0 0;
}
.fudong_2 input{
    height:18px;
}
.fudong_3 {
    float: left;
	height:24px;
	padding:4px 0 0 0;
}
.shuoming {
    padding: 0 10px 14px 10px;
}
.shuoming2 {
    background: #fff;
    padding: 14px 10px 14px 10px;
	border-bottom: 2px solid #ccc;
}
.shuoming2 p {
	text-indent: 20px;
	margin: 8px 0 8px 0;
}
.shuoming h1 {
    font-size: 12px;
	font-weight: bold;
	margin: 14px 0 3px 0;
	color: #930000;
}
.shuoming p {
	text-indent: 20px;
	margin: 3px 0;
}
.left_touzhu {
	background: url(../images/left_touzhu.jpg) no-repeat;
	width: 47px;
	line-height: 20px;
	height: 20px;
	border: 0px;
	letter-spacing: 3px;
	color: #000;
}
/*lishi*/
#top_lishi {
    width: 100%;
	margin:0px 0 0 0px;
}
#top_lishi_bg {
	background: url(../images/lishi_top.gif) no-repeat;
	height: 28px;
	width:754px;
}
.shijian00 {
    width: 228px;
	height: 28px;
	float: right;
}
.shijian01 {
    padding: 5px 0 0 0;
}
.shijian02 {
    float: right;
	width: 48px;
	padding: 4px 0 0 0;
}
.shijian02 input {
    background: url(../images/anniu_lan.gif) no-repeat;
	width: 40px;
	height: 20px;
	line-height: 22px;
	border: 0;
	color: #fff;
}
.shijian03 {
    width: 70px;
	height: 18px;
}
.lishi_lan {
    background: url(../images/lishi_lan.gif) no-repeat;
	float: left;
	padding: 11px 4px 5px 0;
	width: 68px;
	height: 12px;
	text-align: center;
	color: #fff;
}
.lishi_lan a:link,.lishi_lan a:visited,.lishi_lan a:active,.lishi_lan a:hover{
    color: #fff;
}

.lishi_hui {
    background: url(../images/lishi_hui.gif) no-repeat;
	float: left;
	padding: 11px 4px 5px 0;
	width: 68px;
	height: 12px;
	text-align: center;
}

#top_lishi_bg .tu_1 {
	margin: 0 0 0 15px;
	font-size: 12px;
	background: url(../images/lishi_tu_01.jpg) no-repeat;
	height: 36px;
	text-indent: 36px;
	color:#007309;
}
#top_lishi_bg .h_01 {
    font-size: 14px;
	font-weight: bold;
	padding: 6px 0 0 0;
}
#top_lishi_bg .h_02 {
}
#center_1 {
    border: 1px solid #747474;
	background: #fff;
}
#center_1 #center_2 {
    padding: 40px 10px 60px 20px;
}
#center_1 #center_3 {
    padding: 30px 10px 30px 20px;
}
#center_1 .biao_0 {
    width: 700px;
	padding: 0 0 0 20px;
	height: 30px;
}
#center_1 .biao_1 {
    width: 100px;
	text-align: right;
	float: left;
	height: 22px;
	line-height: 22px;
}
#center_1 .biao_2 {
    float: left;
	padding: 0 20px 0 0;
}
#center_1 .biao_4 {
    float: left;
	width: 500px;
}
#center_1 .biao_5 {
    padding: 2px 0;
}
#center_1 .biao_6 {
    float: left;
	padding: 10px 0 10px 100px;
	clear: both;
}
#center_1  .biao_7 {
    width: 700px;
	margin: 0 0 0 20px;
	height: 30px;
}
#center_1 .biao_8 {
    width: 700px;
	margin: 0 0 0 20px;
	height: 30px;
}
#center_1 .biao_9 {
    float: left;
	padding: 15px 0 10px 24px;
	color: #784410;
}
.anniu_000 {
    background: url(../images/zhuce_tb.jpg) no-repeat;
	width: 51px;
	height: 23px;
	border: 0;
	CURSOR:pointer;
}
.anniu_001 {
       background: url(/cl/tpl/template/images/MCenter/orange/nav_hover.jpg) no-repeat center;
    width: 91px;
    height: 31px;
    line-height: 22px;
    color: #fff;
    border-radius: 10px;
    CURSOR: pointer;
    border: none;
    font-size: 17px;
    font-family: 微软雅黑;
}
.chaxun {
    border-left: 2px solid #747474;
    border-right: 2px solid #747474;
    border-bottom: 2px solid #747474;
	background: #E3FBF7;
}
.sekuai_01 {
    background: #504a16;
	color: #FFF;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
}
.bian_r {
    border-right: 1px solid #fff;
}
.bian_r2 {
    border-right: 1px solid #D2D2D2;
}
.kuai_00 {
    width: 140px;
	text-align: center;
	float: left;
}
.kuai_01 {
    width: 100px;
	text-align: center;
	float: left;
}
.kuai_03 {
    width: 80px;
	text-align: center;
	float: left;
}
.kuai_02 {
    width: 266px;
	text-align: center;
	float: left;
}
.kuai_04 {
    float: left;
	text-align: center;
	width: 103px;
}
.kuai_05 {
    float: left;
	text-align: center;
	width: 127px;
}
.sekuai_02 {
    background: ;
	color: #000;
	width: 751px;
	line-height: 18px;
	height: 18px;
	font-size: 12px;
	border-bottom: 1px solid #747474;
}
.sekuai_03 {
	background: #CCEDFF;
	color: #000;
	height: 20px;
	line-height: 20px;
	padding: 0 10px 0 10px;
	text-indent: 8px;
	font-size: 12px;
}
.sekuai_03 .fanye {
    width: 350px;
	float: right;
	text-align:right;
}
.red {
    color: #DD0000;
	padding: 0 20px 0 0;
}
.baise_01 {
    background: #fff;
}
.waikuang {
	font-size: 12px;
	background:#c6c6c6
}
.waikuang00 {
   width: 100%;
   font-size: 12px;
}
/*chaxun end of*/
/*huodong*/
#top_huodong_bg {
	background: url(../images/youhui__1.gif) no-repeat;
	height: 36px;
	padding: 2px 0 0 0;
	width:755px;
}
#top_tikuan_bg {
	background: url(../images/tikuan__1.jpg) no-repeat;
	height: 36px;
	padding: 2px 0 0 0;
	width:755px;
}
.huodong {
    border-left: 2px solid #747474;
    border-right: 2px solid #747474;
    border-bottom: 2px solid #747474;
	background: #FFF;
	padding: 0 20px 16px 20px;
}
.huodong h1 {
    font-size: 12px;
	margin: 0 0 10px 0;
	padding: 16px 0 0 0;
}
.huodong h2 {
    font-size: 12px;
	margin: 6px 0 8px 0;
}
.huodong p {
    margin: 0 0 0 4px;
	line-height: 16px;
	text-indent: 20px;
}
.lan {
    color: #0065B0;
}
.red_1 {
    color: #DD0000;
}
.hui_1 {
    color: #5B5B5B;
}
/*daili*/
#right_2 {
	padding: 0 0 0 40px;
}
#right_2 p {
	line-height: 22px;
	text-indent: 24px;
}
#right_2 .huise {
    color: #666;
	text-indent: 34px;
}
#right_2 .hongse {
    color: #E80000;
}
#right_2 h1 {
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	margin: 20px 0;
	padding: 0 0 0 32px;
	color: #009700;
}
#right_2 h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 16px 0 10px 0;
	color: #0071E1;
	text-align: center;
}
#right_2 h3 {
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0;
	color: #FF0000;
}
#right_2 h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 16px 0 10px 0;
	margin: 10px 0;
}

.dldl {
	height: 32px;
	color: #0076BD;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.dldl a {
    color: #0076BD;
}
.tuiguang {
   background: #fff;
   border:1px solid #abadb3;
       border-radius: 8px;
}
.tuiguang_body {
   background: #fff url(../images/r_1.gif) repeat-y;
}
.lefttop_bg {
   padding: 20px 0 0 0;
}
.subcla1{
    background: url(../images/re_7.jpg) no-repeat no-repeat;
	width: 63px;
	border: 0;
	height: 26px;
	color:#FFF
}
.bq{width:786px; height:127px; position:absolute; bottom:0px;}