/* CSS Document */
* {
    margin: 0;
	padding: 0;
}
body {
    background:#e1f0f7;
    font-size: 12px;
    font-family:"宋体";
	width:100%;
}
a:link,a:visited,a:active  {
	font-size: 12px;
    /*color: #00268A;*/
	text-decoration: none;
}
a:hover {
    font-size: 12px;
	/*color: #00268A;*/
}
#top_1 {
    background: url(../images/tikuan_01.gif) no-repeat;
	margin: 12px 0 0 30px;
	padding: 8px 0 0 45px;
	font-weight: bold;
	color: #005500;
	height: 20px;
}
#waikuan {
    background: #fff;
	margin: 10px 0 0 30px;
	width: 700px;
	color:#000000;
	border: 2px solid #005E1F;
}
#waikuan #top_2 {
    padding: 14px 20px;
	border-bottom: 2px solid #005E1F;
	height: 20px;
	background: #B5FFF4;
}
.fudong_1 {
    float: left;
	line-height: 20px;
}
.fudong_2 {
    float: left;
	width: 300px;
}
.fudong_2 {
    height: 16px;
}
.shuoming {
    padding: 0 10px 14px 10px;
}
.shuoming h1 {
    font-size: 12px;
	font-weight: bold;
	margin: 14px 0 3px 0;
	color: #0280FD;
}
.shuoming p {
	text-indent: 20px;
	margin: 3px 0;
}
.left_touzhu {
	background: url(../images/left_touzhu.jpg) no-repeat;
	width: 47px;
	line-height: 20px;
	height: 20px;
	border: 0px;
	letter-spacing: 3px;
	color: #000;
}
/*lishi*/
#top_lishi {
    width: 100%;
	margin: 0px 0 0 0px;
	background:#e1f0f7
}
#top_lishi_bg {
	height: 24px;
	width:100%;
	border:1px #000000 solid;
}
.shijian00 {
	width:100%;
	height: 28px;
	float: right;
}
.shijian01 {
    padding: 5px 0 0 0;
}
.shijian02 {
    float: right;
	width: 48px;
	padding: 4px 0 0 0;
}
.shijian02 input {
    background: url(../images/anniu_lan.gif) no-repeat;
	width: 40px;
	height: 20px;
	line-height: 22px;
	border: 0;
	color: #fff;
}
.shijian03 {
    width: 70px;
	height: 18px;
}
.lishi_lan {
    background: url(../images/lishi_lan.gif) no-repeat;
	float: left;
	padding: 11px 4px 5px 0;
	width: 68px;
	height: 12px;
	text-align: center;
	color: #fff;
}

.lishi_lan a:link,.lishi_lan a:visited,.lishi_lan a:active,.lishi_lan a:hover{
    color: #fff;
}
.lishi_hui {
    background: url(../images/lishi_hui.gif) no-repeat;
	float: left;
	padding: 11px 4px 5px 0;
	width: 68px;
	height: 12px;
	text-align: center;
}
#top_lishi_bg .tu_1 {
	margin: 0 0 0 15px;
	font-size: 12px;
	background: url(../images/lishi_tu_01.jpg) no-repeat;
	height: 36px;
	color:#007309;
}
#top_lishi_bg .h_01 {
    font-size: 14px;
	font-weight: bold;
	width: 200px;
	text-indent: 36px;
	padding: 6px 0 0 0;
}
#top_lishi_bg .h_02 {
    width: 200px;
	text-indent: 36px;
}
#top_lishi_bg .cha_yue {
    float: right;
	padding: 13px 20px 0 0;
}
#center_1 {
    border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	background: #CCEDFF url(../images/lishi_ss2.gif) top repeat-x;
}
#center_1 #center_2 {
    padding: 40px 10px 60px 20px;
}
#center_1 #center_3 {
    padding: 30px 10px 20px 20px;
}
#center_1 .biao_0 {
    width: 700px;
	padding: 0 0 0 20px;
	height: 30px;
}
#center_1 .biao_1 {
    width: 100px;
	text-align: right;
	float: left;
	height: 22px;
	line-height: 22px;
}
#center_1 .biao_2 {
    float: left;
	padding: 0 20px 0 0;
}
#center_1 .biao_4 {
    float: left;
	width: 500px;
}
#center_1 .biao_5 {
    padding: 2px 0;
}
#center_1 .biao_6 {
    float: left;
	padding: 10px 0 10px 100px;
	clear: both;
}
#center_1  .biao_7 {
    width: 700px;
	margin: 0 0 0 20px;
	height: 30px;
}
#center_1 .biao_8 {
    width: 700px;
	margin: 0 0 0 20px;
	height: 30px;
}
#center_1 .biao_9 {
    float: left;
	padding: 13px 0 10px 24px;
	color: #784410;
}
.anniu_000 {
    background: url(../images/button1.gif) no-repeat;
	width: 51px;
	height: 23px;
	line-height: 22px;
	color: #fff;
	border: 0;
	cursor:pointer;
}
/*lishi end of*/
/*chaxun*/
.chaxun {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}
.waikuang {
	font-size: 12px;
	background:#c6c6c6
}
.waikuang00 {
   width: 100%;
   font-size: 12px;
}
.sekuai_01 {
    background:#504a16;
	color: #FFF;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
}
.bian_r {
    border-right: 1px solid #fff;
}
.bian_r2 {
    border-right: 1px solid #747474;
}
.kuai_00 {
    width: 140px;
	text-align: center;
}
.kuai_01 {
    width: 100px;
	text-align: center;
}
.kuai_03 {
    width: 80px;
	text-align: center;
}
.kuai_02 {
    width: 266px;
	text-align: center;
}
.kuai_04 {
	text-align: center;
	width: 103px;
}
.kuai_05 {
	text-align: center;
	width: 127px;
}
.sekuai_02 {
    background: ;
	color: #000;
	width: 751px;
	line-height: 18px;
	height: 18px;
	font-size: 12px;
	border-bottom: 1px solid #999;
}
.sekuai_03 {
	background:#9b8e25;
	height: 20px;
	line-height: 20px;
	padding: 0 10px 0 10px;
	text-indent: 8px;
	font-size: 12px;
	color:#FFFFFF;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}

.sekuai_03 .fanye {
	float: right;
	text-align:right;
}
.red {
    color: #FF2626;
	padding: 0 20px 0 0;
}
.daili_se_0 {
    background: #645300;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	text-align: center;
	font-size: 12px;
}
.daili_se_1 {
    background: #FFFFFF;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
}
.daili_se_2 {
    background: #fff;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #D7D7D7;
}
.subcla1{
    background: url(../images/re_7.jpg) no-repeat no-repeat;
	width: 63px;
	border: 0;
	height: 26px;
	color:#FFF}
.len{
	font-size: 12px;
	color: #00268A;
	cursor:pointer;
}
.jl_11 a{
	color:#FFFFFF
}
/*chaxun end of*/