<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DataInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
  <add key="ConnectionString" value="server=localhost;userid=root; password=root;database=casino" />
  <add key="daurl" value="http://tcp999.fwqwh.com/" />
  <add key="GetType" value="0" />
  <add key="HgUser" value="QQ6542604" />
  <add key="HgPass" value="aaa222" />
  <add key="hg_dom" value="66.133.86.55|66.133.87.55" />
  <add key="hgweb" value="http://www.hg7088.com" />
  <add key="DataUser" value="root" />
  <add key="DataPass" value="LOVEbaby1218!@#$" />
  <add key="DataName" value="yl66y" />
  <add key="DataPath" value="" />
  <add key="WebPath" value="D:\web\pc" />
  <add key="WapPath" value="D:\web\shouji" />
  <add key="BakPath" value="D:\beifen" />
  <add key="BakTime" value="12:00:00" />
  <add key="MySqlPath" value="E:\phpStudy\MySQL\bin" />
  <add key="MysqlServiceName" value="MySQL" />
  <add key="DBPath" value="C:\phpStudy\MySQL\data\yl66y" />
  <add key="RarPath" value="C:\Program Files\WinRAR\WinRAR.exe" />
  <add key="AutoBak" value="1" />
  <add key="sj_Key" value="0fff8d1e7f18h690" />
  <add key="AutoStart" value="1" />
  <add key="kl8_qishu" value="690684" />
  <add key="kl8_data" value="2015-04-20" />
  <add key="pk10_qishu" value="485076" />
  <add key="pk10_data" value="2015-04-19" />
  <add key="gxsfc_qishu" value="201510450" />
  <add key="gxsfc_data" value="2015-04-21" />
  <add key="fc3d_qishu" value="2015104" />
  <add key="fc3d_data" value="2015-04-21" />
  <add key="pl3_qishu" value="2015104" />
  <add key="pl3_data" value="2015-04-21" />
  <add key="Close_cqssc" value="0" />
  <add key="Close_jxssc" value="0" />
  <add key="Close_tjssc" value="0" />
  <add key="Close_gdsfc" value="0" />
  <add key="Close_gxsfc" value="0" />
  <add key="Close_tjsfc" value="0" />
  <add key="Close_bjpk10" value="0" />
  <add key="Close_bjkl8" value="0" />
  <add key="Close_gd11x5" value="0" />
  <add key="Close_shssl" value="0" />
  <add key="Close_fc3d" value="0" />
  <add key="Close_pl3" value="0" />
  <add key="Close_Sport" value="0" />
  <add key="Close_cqsfc" value="0" />
  <add key="Close_cqssc_txt" value="" />
  <add key="Close_jxssc_txt" value="" />
  <add key="Close_tjssc_txt" value="" />
  <add key="Close_gdsfc_txt" value="" />
  <add key="Close_gxsfc_txt" value="" />
  <add key="Close_tjsfc_txt" value="" />
  <add key="Close_bjpk10_txt" value="" />
  <add key="Close_bjkl8_txt" value="" />
  <add key="Close_gd11x5_txt" value="" />
  <add key="Close_shssl_txt" value="" />
  <add key="Close_fc3d_txt" value="" />
  <add key="Close_pl3_txt" value="" />
  <add key="Close_Sport_txt" value="" />
  <add key="Close_cqsfc_txt" value="" />
  <add key="AutoAg" value="1" />
  <add key="dom" value="http://office.ag138.com/|https://www.agg055.net/|https://ams.aggaming.net/|https://www.agg077.net/|https://www.agg022.net/|https://www.agg033.net/|https://www.agg000.net/" />
  <add key="agurl" value="http://199.119.143.220:88/" />
  <add key="AgUser" value="AG_HA38" />
  <add key="AgPass" value="A38H38" />
  <add key="AgCommRate" value="0" />
  <add key="AgCommRateVip" value="0" />
  <add key="AutoTyc" value="0" />
  <add key="TycUrl" value="https://www.22msc.net:502/|https://www.33msc.net:502/|https://www.11msc.net:502/|https://www.88msc.net:502/" />
  <add key="TycUser" value="" />
  <add key="TycPass" value="" />
  <add key="wDoubleVerify1" value="" />
  <add key="wDoubleVerify2" value="" />
  <add key="wDoubleVerify3" value="" />
  <add key="wDoubleVerify4" value="" />
  <add key="wCommRate" value="0" />
  <add key="wSmCommRate" value="0" />
  <add key="OneBak" value="1" />
  <add key="lastbackup" value="2016_11_14" />
  <add key="ver" value="V20160824 QQ:3044757104" />
  <add key="CpGetType" value="1" />
  <add key="sss" value="2" />
  <add key="ag_order_page" value="1" />
  <add key="ag_order_date" value="2015-01-22" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="RestartInterval" value="3600" />
  <add key="GetUpdateInfoInterval" value="3600" />
  <add key="Cqssc_Interval" value="30" />
  <add key="Jxssc_Interval" value="30" />
  <add key="Tjssc_Interval" value="30" />
  <add key="Gdsfc_Interval" value="60" />
  <add key="Gxsfc_Interval" value="60" />
  <add key="Tjsfc_Interval" value="60" />
  <add key="Bjpk10_Interval" value="30" />
  <add key="Bjkl8_Interval" value="30" />
  <add key="Gd11x5_Interval" value="30" />
  <add key="Shssl_Interval" value="30" />
  <add key="Fc3d_Interval" value="60" />
  <add key="Pl3_Interval" value="60" />
  <add key="Cqsfc_Interval" value="60" />
  <add key="LotteryDataXmlUrl" value="http://182.16.4.242:8001/Service.aspx" />
  <add key="LotteryDataXmlToken" value="9f410df385ac495d" />
  <add key="Prefix_AGIN" value="JSYLC_" />
  <add key="Prefix_BBIN" value="c13jsyl" />
  <add key="Ag_StartTime" value="2015-11-01" />
  <add key="Ag_EndTime" value="2015-11-30" />
  <add key="Prefix_MG" value="249:YBYL" />
  <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  <add key="AgInterval" value="10" />
  <add key="AgPushInterval" value="60" />
  <add key="MgInterval" value="10" />
  <add key="MgPushInterval" value="60" />
 </appSettings>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="NewBehavior">
					<dataContractSerializer maxItemsInObjectGraph="65536000" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="BindingBehaviorConfiguration" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://0.0.0.0:51888/DataServer" behaviorConfiguration="NewBehavior" binding="netTcpBinding" bindingConfiguration="BindingBehaviorConfiguration" contract="Contracts.IContract" name="DataServer1" />
		</client>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
			</providers>
		</roleManager>
		<identity impersonate="true" userName="Administrator" password="" />
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
	</connectionStrings>
 <applicationSettings>
  <DataInterface.Properties.Settings>
   <setting name="DataInterface_ftpService_Service" serializeAs="String">
    <value>http://103.244.148.89:8089/Service.asmx</value>
   </setting>
  </DataInterface.Properties.Settings>
 </applicationSettings>
</configuration>