<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=localhost;userid=root; password=123456;database=casino_db" />
    <add key="GetType" value="0" />
    <add key="HgUser" value="" />
    <add key="HgPass" value="" />
    <add key="DataUser" value="root" />
    <add key="DataPass" value="123456" />
    <add key="DataName" value="casino_db" />
    <add key="DataPath" value="" />
    <add key="WebPath" value="D:\home\web\wwwroot" />
    <add key="WapPath" value="D:\home\wap\wwwroot" />
    <add key="BakPath" value="D:\home\bak\wwwroot" />
    <add key="BakTime" value="12:00:00" />
    <add key="AutoBak" value="1" />
    <add key="sj_Key" value="0fff8d1e7f18h690" />
    <add key="AutoStart" value="1" />
    <add key="kl8_qishu" value="617652" />
    <add key="kl8_data" value="2014-03-01" />
    <add key="pk10_qishu" value="412223" />
    <add key="pk10_data" value="2014-03-01" />
    <add key="gxsfc_qishu" value="201500101" />
    <add key="gxsfc_data" value="2015-01-01" />
    <add key="fc3d_qishu" value="2015001" />
    <add key="fc3d_data" value="2015-01-01" />
    <add key="pl3_qishu" value="2015001" />
    <add key="pl3_data" value="2015-01-01" />
    <add key="Close_cqssc" value="0" />
    <add key="Close_jxssc" value="0" />
    <add key="Close_tjssc" value="0" />
    <add key="Close_gdsfc" value="0" />
    <add key="Close_gxsfc" value="0" />
    <add key="Close_tjsfc" value="0" />
    <add key="Close_bjpk10" value="0" />
    <add key="Close_bjkl8" value="0" />
    <add key="Close_gd11x5" value="0" />
    <add key="Close_shssl" value="0" />
    <add key="Close_fc3d" value="0" />
    <add key="Close_pl3" value="0" />
    <add key="Close_Sport" value="0" />
    <add key="Close_cqsfc" value="0" />
    <add key="Close_cqssc_txt" value="" />
    <add key="Close_jxssc_txt" value="" />
    <add key="Close_tjssc_txt" value="" />
    <add key="Close_gdsfc_txt" value="" />
    <add key="Close_gxsfc_txt" value="" />
    <add key="Close_tjsfc_txt" value="" />
    <add key="Close_bjpk10_txt" value="" />
    <add key="Close_bjkl8_txt" value="" />
    <add key="Close_gd11x5_txt" value="" />
    <add key="Close_shssl_txt" value="" />
    <add key="Close_fc3d_txt" value="" />
    <add key="Close_pl3_txt" value="" />
    <add key="Close_Sport_txt" value="" />
    <add key="Close_cqsfc_txt" value="" />
    <add key="AutoAg" value="1" />
    <add key="AgUrl" value="http://office.ag138.com/|https://www.agg055.net/|https://ams.aggaming.net/|https://www.agg077.net/|https://www.agg022.net/|https://www.agg033.net/|https://www.agg000.net/" />
    <add key="AgUser" value="AG_HA38" />
    <add key="AgPass" value="A38H38" />
    <add key="AgCommRate" value="0" />
    <add key="AgCommRateVip" value="0" />
    <add key="AutoTyc" value="0" />
    <add key="TycUrl" value="https://www.22msc.net:502/|https://www.33msc.net:502/|https://www.11msc.net:502/|https://www.88msc.net:502/" />
    <add key="TycUser" value="" />
    <add key="TycPass" value="" />
    <add key="wDoubleVerify1" value="" />
    <add key="wDoubleVerify2" value="" />
    <add key="wDoubleVerify3" value="" />
    <add key="wDoubleVerify4" value="" />
    <add key="wCommRate" value="0" />
    <add key="wSmCommRate" value="0" />
    <add key="OneBak" value="1" />
    <add key="lastbackup" value="" />
    <add key="ver" value="131" />
    <add key="HgWeb" value="113.197.76.40|113.197.76.40|112.78.26.130|112.78.26.130|112.78.104.13|112.78.105.23|hg0088.com|www.hg7088.com|www.hg3088.com|www.hg1088.com|hg1088.com|www.hg8088.com|hg3088.com" />
    <add key="CpGetType" value="1" />
    <add key="sss" value="2" />
    <add key="ag_order_page" value="1" />
    <add key="ag_order_date" value="2015-01-22" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="BindingBehaviorConfiguration"
                 maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://0.0.0.0:51888/DataServer"
        behaviorConfiguration="NewBehavior" binding="netTcpBinding"
        bindingConfiguration="BindingBehaviorConfiguration" contract="Contracts.IContract"
        name="DataServer1" />
    </client>
  </system.serviceModel>
</configuration>