body{
    background-color: #EFEFEF;
    margin: 0;
}
#forgetPwd {
    margin: 0 auto;
    padding: 10px 0;
    width: 340px;
    color: #000;
    font-size: 12px;
}
.pwd-titile {
    padding: 0 10px;
    line-height: 30px;
    font-size: 21px;
    text-align: center;
    text-shadow: #ccc 1px 1px;
}
.pwd-input-wrap {
    position: relative;
    height: 145px;
    background: url('/../tpl/template/images/get_pwd/input.png') no-repeat center bottom;
}
.pwd-input-wrap p {
    margin: 0;
    color: #ACACAC;
}
.first-p {
    position: absolute;
    top: 15px;
    left: 80px;
}
.second-p {
    position: absolute;
    top: 66px;
    left: 80px;
}
.third-p {
    position: absolute;
    top: 117px;
    left: 80px;
}
.pwd-placeholder {
    position: absolute;
    bottom: 2px;
    left: 8px;
    cursor: text;
}
.pwd-input-set {
    outline: none;
    display: block;
    margin: 0;
    padding: 3px 5px;
    width: 190px;
    height: 16px;
    border: 0;
}
#vPic {
    position: absolute;
    top: 1px;
    right: 0;
}
.pwd-info {
    margin: 15px 0;
    padding: 0 20px;
    color: #6C6C6C;
    text-shadow: #FFF 1px 1px;
    text-align: center;
}
.error {
    margin: 10px 0;
    color: #FF0F0F;
    font-weight: bold;
    text-align: center;
}
.pwd-remind{
    margin: 0 auto 20px;
    width: 340px;
    text-align: center;
}
.chg_passwd_flag{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 0 10px;
}
/*-- 套圖
.pwd-buttom {
    margin: 0 auto;
    padding: 5px;
    width: 247px;
    height: 36px;
    background: #0CF url('/tpl/template/images/get_pwd/login-btn.png');
}
.pwd-buttom input {
    display: inline-block;
    width: 122px;
    height: 36px;
    color: #FFF;
    border: 0;
    background: none;
}
.pwd-buttom input:hover {
    color: #333;
}
*/
 

.outer-pwd-buttom {
    margin: 0 auto;
    padding: 5px;
    width: 246px;
    height: 36px;
    border-radius: 3px; /*圓角*/
    background-color: #D2D2D2;/*漸層色*/
    background: -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#FCFCFC));
}
.inner-pwd-buttom {
    border-radius: 3px; /*圓角*/
    box-shadow: 0 0 2px 2px #B7B7B7; /*陰影*/
}
.inner-pwd-buttom input {
    float: left;
    padding: 0;
    width: 123px;
    height: 36px;
    border: 0;
    background: none;
    cursor: pointer;
}
.inner-pwd-buttom .pwd-aubmit {
    border-right: 1px solid #CCC;
}
.inner-pwd-buttom .pwd-reset {
    border-left: 1px solid #888;
}

/* 顏色模板樣式(預設為藍色) */
input.pwd-btn-style-blue{
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.6),rgba(255,255,255,0));
    background-color: #1DA2E7;
}
input.pwd-btn-style-blue:hover {
    color: #FFF;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.3));
    background-color: #0E8DD2;
}

input.pwd-btn-style-black{
    color: #FFF;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0));
    background-color: #000;
}
input.pwd-btn-style-black:hover {
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.1));
    background-color: #505050;
}
input.pwd-btn-style-white{
    color: #000;
    background: -webkit-linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0));
    background-color: #EAEAEA;
}
input.pwd-btn-style-white:hover {
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));
    background-color: #DBDBDB;
}

input.pwd-btn-style-gray{
    color: #FFF;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4));
    background-color: #595959;
}
input.pwd-btn-style-gray:hover {
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.2));
    background-color: #393936;
}

input.pwd-btn-style-gold{
    color: #FFF;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.1));
    background-color: #999071;
}
input.pwd-btn-style-gold:hover {
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.1),rgba(255,255,255,0.1));
    background-color: #817857;
}

input.pwd-btn-style-green{
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.5),rgba(255,255,255,0));
    background-color: #8C9556;
}
input.pwd-btn-style-green:hover {
    color: #FFF;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.4));
    background-color: #5A622F;
}

input.pwd-btn-style-red{
    color: #FFF;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.4),rgba(255,255,255,0));
    background-color: #9E2628;
}
input.pwd-btn-style-red:hover {
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.2));
    background-color: #7B1415;
}

input.pwd-btn-style-yellow{
    color: #FFF;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.3),rgba(255,255,255,0));
    background-color: #A98241;
}
input.pwd-btn-style-yellow:hover {
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.3));
    background-color: #8D6E37;
}

.box {
    background: url('/tpl/template/images/get_pwd/bg.jpg');
    width:70%;
    margin:40px auto;
}
.effect7
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect7:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}