@charset "utf-8";
/* CSS Document */

body {
	background-color:#303030;
	font-size:12px;
}
.table_td1 {
	background:#303030 url(../images/rule_pic_1.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_cp {
	background:#303030 url(../images/rule_pic_cp.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_cq {
	background:#303030 url(../images/rule_pic_cq.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_zs {
	background:#303030 url(../images/rule_pic_zs.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_zr{
	background:#303030 url(../images/rule_pic_zr.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_fc3d {
	background:#303030 url(../images/rule_pic_fc3d.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_lhc {
	background:#303030 url(../images/rule_pic_lhc.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_shssl {
	background:#303030 url(../images/rule_pic_shssl.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_tcpls {
	background:#303030 url(../images/rule_pic_tcpls.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_keno {
	background:#303030 url(../images/rule_pic_keno.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_cqssl {
	background:#303030 url(../images/rule_pic_cqssl.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_zq {
	background:#303030 url(../images/rule_pic_zq.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_lq {
	background:#303030 url(../images/rule_pic_lq.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_pq {
	background:#303030 url(../images/rule_pic_pq.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_bq {
	background:#303030 url(../images/rule_pic_bq.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_mz {
	background:#303030 url(../images/rule_pic_mz.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_jxssc {
	background:#303030 url(../images/rule_pic_jxssc.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td_hljssc {
	background:#303030 url(../images/rule_pic_hljssc.jpg) no-repeat;
	height:113px;
	width:750px;
}
.table_td2 {
	background:#303030 url(../images/rule_pic_2.jpg);
	width:750px;
}
.table_td3 {
	background:#303030 url(../images/rule_pic_4.jpg) no-repeat;
	width:750px;
	height:27px;
}
.title_name {
	font-size:24px;
	font-weight:bold;
	margin: 100px auto 0 auto;
}
.title_td {
	font-size:14px;
	font-weight:700;
}
.bold_red_14 {
	font-size:14px;
	color:#F00;
	font-weight:bold;
}
.bold_red {
	color:#F00;
	font-weight:bold;
}
.red {
	color:#F00;
}
.bold_blue {
	color:#00F;
	font-weight:bold;
}
.blue {
	color:#00F;
}
.bold_green {
	color:#0f0;
	font-weight:bold;
}
.green {
	color:#0f0;
}
.bold_black {
	color:#000;
	font-weight:bold;
}
.no_style
{
	list-style-type:none;}
	ul li,ol li
	{ line-height:20px;}
	.m_cen1 {
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #f0eff4;
}
.bold_write
{
	font-size:14px;
	/*font-weight:bold;*/
	color:#FFF;
	height:25px;
	}
	.s_write
{
	font-size:12px;
	/*font-weight:bold;*/
	color:#FFF;
	}
	.tab_bg
	{
		background-color:#666;
		text-align:center;}
.m_cen {
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #ffffff
}
.b_tab {
	PADDING-BOTTOM: 0px;
	BACKGROUND-COLOR: #a6a6a6;
	MARGIN: 0px 0px 5px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 3px
}
.title_ol li
{
	list-style-type:none;
	float:left;}
.b_tline_bs {
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #2c2b2b;
	COLOR: #ffffff
}
.b_hline_bs {
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #6d6c6c
}
.m_lef {
	TEXT-ALIGN: left;
	BACKGROUND-COLOR: #ffffff
}
.b_tline_bk {
	        TEXT-ALIGN: center; BACKGROUND-COLOR: #2c2b2b; COLOR: #ffffff
        }
		.b_hline_bk {
	        TEXT-ALIGN: center; BACKGROUND-COLOR: #6d6c6c
        }
		.b_radio {
	        COLOR: #cc0000; FONT-WEIGHT: bold
        }
.font_12 {
	font-size: 12px;
	color:#ffffff;
	background-position: center;
}
.font_12_bk {
	font-size: 12px;
	color: #000;
}
.font_12_bk1 {
	font-size: 12px;
	color: #fff;
}
.eng_12 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
.blue_12_B {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0000FF;
}
.yellow_12 {
	font-size: 14px;
	color: #FFFF00;
	font-weight: bold;
	text-decoration: blink;
}
.eng-blue {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000FF;
}
.red_eng_b {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	font-weight: bold;
}
.red-12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.line_1 {
	border-bottom-style: solid;
	border-bottom-color: #2c4d71;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #2c4d71;
}
.line2 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}
.odd_bet_line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #2c4d71;
}
.blue_12 {
	font-size: 12px;
	color: #0000FF;
}
.ball_bk_b {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.eng-12 {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.rule-12 {
	FONT-SIZE: 12px;
	COLOR: #000000;
}
.style3 {
	FONT-SIZE: 12px;
	COLOR: #ffff00;
}
.style7 {
	FONT-SIZE: 12px;
}
.odd-red {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #996600;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.style35 {
	color: #990000
}
.style36 {
	color: #FFFFFF
}
