div#gold-ui-menu {
    background-color:transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BB888888', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
}
.view-mask div#CenterView h1, .alert_box .title, .confirm_box .title {
    background:transparent url(/TPL/pitaya/images/gradient.png) repeat-x 0 0;
}
#game_result {
    background-color:transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#867b75', endColorstr='#37322e',GradientType=0);
}
footer {
    display:none !important;;
}
